.container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.margin-top {
    margin-top: 20px;
}

.job {
    margin-bottom: 2rem;
    border-left: 4px solid #3f51b5;
    padding-left: 1rem;
}