.container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 768px) {
        text-align: center;
        padding: 1.5rem;
    }
}

.margin-top {
    margin-top: 20px;
}