@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Scroll Reveal Animations
.reveal-item {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-active {
    opacity: 1;
    transform: translateY(0);
}